<div class="container my-3">
    <div class="card">
        <div class="card-header">
            <h3>Contact Details</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">Address :</h5>
            <p class="card-text">
                Kalinga Institute of Industrial Technology (KIIT), Deemed to be University <br>
                Bhubaneswar, Khorda, Odisha, India <br>
                Pin: 751024
            </p>

            <h5 class="card-title">Email :</h5>
            <p class="card-text">
                <a href="#" class="card-link">kiit@kiit.ac.in</a> <br>
                <a href="#" class="card-link">support@todolistapp.com</a>
            </p>

            <h5 class="card-title">Phone Number :</h5>
            <p class="card-text">
                +91 674 272 5113 <br> +91 8080 735 735
            </p>

            <h5 class="card-title">Website :</h5>
            <a href="#" class="card-link">kiit.ac.in</a> 
        </div>
    </div>
</div>