<div class="container my-3">
    <div class="card">
        <div class="card-header">
            <h3>About</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">About this Todo-List Application</h5>
            <p class="card-text">
                This is a Todo-List application which is a simple and efficient task management application developed using the Angular framework.
                It provides users with an intuitive and user-friendly interface to organize and keep track of their daily tasks, to-do items, and important deadlines.
                This app will help stay on top of your tasks and boost productivity. <br>
                
                <h5>Key Features:</h5>
                
                <b>Responsive Design:</b> <br>
                The TodoList app is designed with responsiveness in mind, ensuring a consistent and optimal user experience across different devices and screen sizes, including desktops, tablets, and smartphones.
                <br>
                <b>Task Creation and Management:</b> <br>
                Users can add new tasks by entering a title, description, and due date. The app provides an intuitive interface to organize tasks into different lists or prioritize them using labels.
                <br>
                <b>Real-time Updates:</b> <br>
                The app leverages Angular's powerful data-binding and reactive programming capabilities, ensuring real-time synchronization of task data across devices. Any changes made to tasks are instantly reflected, guaranteeing a seamless user experience.
                <br>
                <b>Data Backup and Recovery:</b> <br>
                The TodoList app automatically backs up task data regularly, ensuring that users do not lose their important information. In case of any accidental deletion, users can easily recover lost tasks from the app's backup storage. <br>
                <br>
            <a routerLink="/" class="btn btn-primary">Check Out</a>
        </div>
    </div>
</div>